.modal-dialog{
    height: 90vh !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
}

.small-notice{
    font-size: 13px;
    line-height: 0.5;
}